@CHARSET "UTF-8";

body {
	text-align: center;
	background: url(../img/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar {
	margin-bottom: 7px;
}

#listBox {
	background: url(../img/list.jpg) no-repeat center;
	height: 280px;
	overflow: auto;
}

#listTitle {
	background: url(../img/title.jpg) no-repeat center;
}

#menu {
	background: url(../img/title.jpg) no-repeat center;
	height: auto;
}

#listTitle,#listBox,#menu {
	font-family: 'Margarine';
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-width: 0px;
	border-radius: 10px;
	background-color: transparent;
	width: 370px;
	text-align: center !important;
	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
}

#title {
	font-family: 'Margarine';
	background: url(../img/chat.png) no-repeat top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 690px 570px;
	border-width: 0px;
	widht: 690px;
	height: 570px;
}

#chatBox {
	text-align: left;
	margin: auto;
	margin-bottom: 0px;
	padding: 10px;
	border: 1px solid none;
	height: 350px;
	overflow: auto;
	background-color: rgba(220, 216, 228, 0.3);
	border-radius: 10px;
	width: 500px;
	text-shadow: .04em .04em 0 white, .08em .08em 0 #AAA
}

#usermsg {
	width: 400px;
	margin-bottom: 20px;
	border: 1px solid #ACD8F0;
	background: #FFFF99;
	font-family: 'Scada';
	font-size: 12pt;
}

#filter {
	text-align: center !important;
}

#send {
	margin-bottom: 20px;
}

#chatOption {
	float: right;
	margin-bottom: 20px;
}

#chatAction {
	text-align: center;
}

.modal,.modal-footer {
	background: url(../img/modal.jpg) no-repeat top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Margarine';
}

.modal-header {
	color: #fff;
}

.modal-body {
	height: 180px;
	width: auto;
	text-align: center;
}

#roomName {
	font-family: 'Scada';
	font-size: 12pt;
}

#title h1,#listTitle h2 {
	color: #003366;
	font-size: 24pt;
	margin-top: 10px;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px
		rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

#chatBox p,p a {
	cursor: pointer;
	font-family: 'Scada';
	color: #003366;
	font-size: 14pt;
}

form,p,span {
	padding: 0;
}

td {
	cursor: pointer;
	text-align: center !important;
	margin-right: 5px;
	font-size: 14pt;
	color: #003366;
	border-width: 0px !important;
}

a {
	color: #fff;
	text-decoration: none;
	margin: 5px;
	font-size: 18px !important;
}

tr.hilite td {
	background: #FFF;
}

p.hilite p {
	background: #CDC9C9;
}

#invMenu {
	text-align: right !important;
	margin-bottom: 5px;
}

#door {
	float: right;
}

#invBody {
	height: 100px;
	text-align: center;
	font-family: 'Margarine';
}

#invBody p {
	word-wrap: normal;
	color: #003366;
	margin-top: 3px;
	margin-left: 50px;
	font-size: 16pt;
}

.btn-group {
	margin-bottom: 10px;
}

#list {
	cellspacing: 3;
	cellpadding: 3;
	text-align: center;
	background-color: #FFFF66;;
	opacity: 0.7;
	border-radius: 10px;
}

.error {
	color: #ff0000;
}