@CHARSET "UTF-8";

body {
	font: 12px;
	color: #222;
	text-align: center;
	padding: 35px;
	margin-top: 30px;
}

#listTitle h2 {
	font-size: 18pt;
}

form,p,span {
	padding: 0;
}

td {
	text-align: center !important;
}

input {
	font: 12px;
}

#menu a {
	color: #fff;
	text-decoration: none;
	margin: 5px;
}

tr.hilite td {
	background: #0000FF;
}

#chatBox {
	text-align: left;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 10px;
	background: #fff;
	height: 350px;
	width: 550px;
	border: 1px solid #ACD8F0;
	overflow: auto;
}

#usermsg {
	width: 480px;
	margin-top: 10px;
	border: 1px solid #ACD8F0;
}

.modal-body {
	height: 150px;
	widht: auto;
}

.btn-group {
	margin-bottom: 10px;
}

#list {
	border: 2;
	cellspacing: 3;
	cellpadding: 3;
	text-align: center;
}

.error {
	color: #ff0000;
}