@CHARSET "UTF-8";

body {
	font: 12px;
	color: #222;
	text-align: center;
	padding: 35px;
}

form,p,span {
	margin: 0;
	padding: 0;
}

input {
	font: 12px;
}

a {
	color: #0000FF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#chatBox {
	text-align: left;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 10px;
	background: #fff;
	height: 350px;
	width: 550px;
	border: 1px solid #ACD8F0;
	overflow: auto;
}

#usermsg {
	width: 500px;
	border: 1px solid #ACD8F0;
}

.error {
	color: #ff0000;
}