
body {
	background-image: url('../img/chess/chess-bg.png'); /*blockpattern*/
		/*background:-webkit-linear-gradient(45deg, #020031 0%, #6D3353 100%);*/
}

#menu {
	background-color: rgba(0,0,0,0.5);
}
.menu-entry {
	border: solid 2px black; 
}

#chat {
	width: 320px;
}

#test {
	position: absolute; 
	right: 5%;
	top:200px;
	width: 200px;
	height: 200px;
}

#info {
	border: solid 2px black; 
	margin-top: 0px; 
	margin-bottom: 10px; 
	padding:5px 5px;
}

#before_game {
	display : none;
}

#chess {
	padding-top: 0px;
	border: solid 1px black;
	margin-top: 0px;
	margin-bottom: 0px;
	width : 700px;
	background-color:transparent; 
	border:none;
}

.figure {
	color: black;
	/*cursor: hand;*/
}

#chess_board td.selected {
	background: #00FF00 !important;
}

.hoverIn {
	background: green;
}
#chess_board { border:5px 
	solid #333; 
}
#chess_board td { 
	background:#fff; 
	background:-moz-linear-gradient(top, #fff, #eee); 
	background:-webkit-gradient(linear,0 0, 0 100%, from(#fff), to(#eee)); 
	box-shadow:inset 0 0 0 1px #fff; 
	-moz-box-shadow:inset 0 0 0 1px #fff; 
	-webkit-box-shadow:inset 0 0 0 1px #fff;  
	height:90px; 
	text-align:center; 
	vertical-align:middle; 
	width:90px; 
}
#chess_board tr:nth-child(odd) td:nth-child(even),
#chess_board tr:nth-child(even) td:nth-child(odd) { 
	background:#ccc; 
	background:-moz-linear-gradient(top, #ccc, #eee); 
	background:-webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee)); 
	box-shadow:inset 0 0 10px rgba(0,0,0,.4); 
	-moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4); 
	-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4); 
}
#chess_board td.valid { background: #00FF00 !important; }
#chess_board td.invalid { background: #FF0000 !important; }