.hidden{
    display:none;
}

table{

background: url("../img/board/board900x901.png") no-repeat center center ;
position:absolute;
top:20px;
left:20px;
margin:0px;
padding:0px;
background-color:#CCE7D0;
}

.board{
top:0px;
left:0px;
}

.northwest, .northeast, .southwest, .southeast{
width:145px;
height:145px;

}

.south_north{
width:71px;
}
.west_east{
height:74px;
}

.ownerNorth{
position:absolute;
top:-60px;
left:10px;
width:50px;
height:14px;
background-color:#ffffff;
}
.ownerSouth{
position:absolute;
top:45px;
left:10px;
width:50px;
height:14px;
background-color:#ffffff;
}
.ownerWest{
position:absolute;
top:-25px;
left:15px;
width:14px;
height:50px;
background-color:#ffffff;
}
.ownerEast{
position:absolute;
top:-25px;
left:115px;
width:14px;
height:50px;
background-color:#ffffff;
}
.cityPosition{
position:relative;

}

#divPlayer1, #divPlayer2, #divPlayer3, #divPlayer4{
height:20px;
}
/* position of cells */









