/* >>>>> >>>>>>>> >>>>> */
/* >>>>> @herbion >>>>> */
/* >>>>> >>>>>>>> >>>>> */
body {
  background-image: url("../img/board/bg_wood.jpg");
}
#main-container {
  position: relative;
}
#game-table {
  float: left;
}
#chat {
  overflow-y: scroll;
  height: 650px;
}
#chat-log {
  margin: 10px;
  margin-top: 20px;
  height: 700px;
  width: 288px;
  float: right;
  background-color: rgba(255, 255, 255, 0.4);

  -moz-box-shadow:    0px 0px 10px #888;
  -webkit-box-shadow: 0px 0px 10px #888;
  box-shadow:         0px 0px 10px #888;
}
  #chat-log input {
    width: 175px;
    margin: 0px;
  }
  #chat-log form {
    margin-left: 10px;
  }
/* ******************* */
/* center-cell section */
/* ******************* */
#center {
  width: 650px;
  height: 650px;
  margin: 0 auto;
  text-align: center;
  background-image: url("../img/board/bg-info.png")
  border-radius: 5px;
  /*border: 3px #eee dashed;*/
}
#button-menu {
  text-align: center;

  margin-top: 126px;
  margin-bottom: 0px;
}
#info {
  background: #eee;
}
  #info-table-1 {
    width: 100px;
    height: 200px;
    float: left;
    margin-right: 15px;
  }
  #info-table-2 {
    width: 130px;
    height: 160px;
    float: left;
    margin-right: 15px;
  }
#money {
  float: right;
}
/* ****************** */
/* game-table section */
/* ****************** */
  #game-table {
    border: 3px #000 solid;
    margin: 20px;
    background-color: #eee;

    -moz-box-shadow:    0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
    box-shadow:         0px 0px 10px #000;
  }

  .owner {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .house {
    border: 1px solid;
  }
  /* resolution of cells */
  td.north, td.south {
   width: 75px;
  }
  .west, .east {
    height: 75px;
  }
  /* ******************* */

   /* ^^^ up cells */
  div.north  {
    height: 145px;
    position: relative;
  }
    .north .owner {
      position: absolute;
      width: 97%;
      height: 18%;
      left: 0px;
      top: 0px;
      border: 1px dashed;
    }
    .north .house {
      position: absolute;
      width: 97%; /*was 100%*/
      height: 18%;
      left: 0px;
      bottom: 0px;
    }

  /* down cells */
  div.south {
    height: 145px;
    position: relative;
  }
    .south .owner {
      position: absolute;
      width: 97%;
      height: 18%;
      left: 0px;
      bottom: 0px;
      border: 1px dashed;
    }
    .south .house {
      position: absolute;
      width: 97%; /*was 100%*/
      height: 18%;
      left: 0px;
      top: 0px;
    }

  /* <<< left cells */
  .west .owner {
    width: 18%;
    height: 98%;
    float: left;
    border: 1px dashed;
  }
  .west .house {
    width: 18%;
    height: 100%; 
    float: right;
  }
  .west .house img {
    position: absolute;
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 26px;
    margin-left: -23px;
  }
  .west .town-image {
    width: 74px;
    height: 74px;
    margin-left: 35px;
    position: absolute; 
  }

  /* >>> right cells */
  .east .owner {
    width: 18%;
    height: 98%;
    float: right;
    border: 1px dashed;
  }
  .east .house {
    width: 18%;
    height: 100%;
    float: left;
  }
  .east .house img {
    position: absolute;
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 26px;
    margin-left: -23px;
  }

/* <<<<< <<<<<<<< <<<<< */
/* <<<<< @herbion <<<<< */
/* <<<<< <<<<<<<< <<<<< */

.northwest,.northeast,.southwest,.southeast {
  width: 145px;
  height: 145px;
}

.south_north {
  width: 71px;
}
/*
#cell1 {
  background: url("../img/board/cell1.png") no-repeat top left;
}

#cell2 {
  background: url("../img/board/cell2.png") no-repeat top center;
}

#cell3 {
  background: url("../img/board/cell3.png") no-repeat top center;
}

#cell4 {
  background: url("../img/board/cell4.png") no-repeat top center;
}

#cell5 {
  background: url("../img/board/cell5.png") no-repeat top center;
}

#cell6 {
  background: url("../img/board/cell6.png") no-repeat top center;
}

#cell7 {
  background: url("../img/board/cell7.png") no-repeat top left;
}

#cell8 {
  background: url("../img/board/cell8.png") no-repeat top center;
}

#cell9 {
  background: url("../img/board/cell9.png") no-repeat top center;
}

#cell10 {
  background: url("../img/board/cell10.png") no-repeat top center;
}

#cell11 {
  background: url("../img/board/cell11.png") no-repeat top right;
}

#cell12 {
  background: url("../img/board/cell12.png") no-repeat center right;
}

#cell13 {
  background: url("../img/board/cell13.png") no-repeat center right;
}

#cell14 {
  background: url("../img/board/cell14.png") no-repeat center right;
}

#cell15 {
  background: url("../img/board/cell15.png") no-repeat center right;
}

#cell16 {
  background: url("../img/board/cell16.png") no-repeat center right;
}

#cell17 {
  background: url("../img/board/cell17.png") no-repeat center right;
}

#cell18 {
  background: url("../img/board/cell18.png") no-repeat center right;
}

#cell19 {
  background: url("../img/board/cell19.png") no-repeat center right;
}

#cell20 {
  background: url("../img/board/cell20.png") no-repeat center right;
}

#cell21 {
  background: url("../img/board/cell21.png") no-repeat bottom right;
}

#cell22 {
  background: url("../img/board/cell22.png") no-repeat bottom center;
}

#cell23 {
  background: url("../img/board/cell23.png") no-repeat bottom center;
}

#cell24 {
  background: url("../img/board/cell24.png") no-repeat bottom center;
}

#cell25 {
  background: url("../img/board/cell25.png") no-repeat bottom center;
}

#cell26 {
  background: url("../img/board/cell26.png") no-repeat bottom center;
}

#cell27 {
  background: url("../img/board/cell27.png") no-repeat bottom center;
}

#cell28 {
  background: url("../img/board/cell28.png") no-repeat bottom center;
}

#cell29 {
  background: url("../img/board/cell29.png") no-repeat bottom center;
}

#cell30 {
  background: url("../img/board/cell30.png") no-repeat bottom center;
}

#cell31 {
  background: url("../img/board/cell31.png") no-repeat bottom left;
}

#cell32 {
  background: url("../img/board/cell32.png") no-repeat center left;
}

#cell33 {
  background: url("../img/board/cell33.png") no-repeat center left;
}

#cell34 {
  background: url("../img/board/cell34.png") no-repeat center left;
}

#cell35 {
  background: url("../img/board/cell35.png") no-repeat center left;
}

#cell36 {
  background: url("../img/board/cell36.png") no-repeat center left;
}

#cell37 {
  background: url("../img/board/cell37.png") no-repeat center left;
}

#cell38 {
  background: url("../img/board/cell38.png") no-repeat center left;
}

#cell39 {
  background: url("../img/board/cell39.png") no-repeat center left;
}

#cell40 {
  background: url("../img/board/cell40.png") no-repeat center left;
}

#cell41 {
  background: url("../img/board/cell41.png") no-repeat center center;
  border: 2px;
}
*/

.ownerNorth {
  height: 25px;
  margin-bottom: 120px;
  background-color: #ffffff;
}

.ownerSouth {
  position: absolute;
  top: 45px;
  left: 10px;
  width: 50px;
  height: 14px;
  background-color: #ffffff;
}

.ownerWest {
  position: absolute;
  top: -25px;
  left: 15px;
  width: 14px;
  height: 50px;
  background-color: #ffffff;
}

.ownerEast {
  position: absolute;
  top: -25px;
  left: 115px;
  width: 14px;
  height: 50px;
  background-color: #ffffff;
}

.cityPosition {
  position: relative;
}

#divPlayer1,#divPlayer2,#divPlayer3,#divPlayer4 {
  height: 20px;
}

#playerInfo {
  position: absolute;
  left: 1100px;
  top: 25px;
  width: 40%;
  margin-right: 30px;
  padding-right: 30px;
}

/*!
 * jQuery UI Accordion 1.9.1
 * http://jqueryui.com
 *
 * Copyright 2012 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Accordion#theming
 */
.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin-top: 2px;
  padding: .5em .5em .5em .7em;
  zoom: 1;
}

.ui-accordion .ui-accordion-icons {
  padding-left: 2.2em;
}

.ui-accordion .ui-accordion-noicons {
  padding-left: .7em;
}

.ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 2.2em;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px;
}

.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto;
  zoom: 1;
}

.playerButton {
  margin-bottom: 0px;
  text-align: center;
  margin-top: 75%;
}

.playerButton .well {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0px;
}

#upChat {
  position: absolute;
  left: 1100px;
  top: 500px;
}

#roolDice {
  margin: 30px;
  text-align: center;
}

#feedback {
  font-size: 1.4em;
}

#selectable .ui-selecting {
  background: #FECA40;
}

#selectable .ui-selected {
  background: #F39814;
  color: white;
}

#selectable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 450px;
}

#selectable li {
  margin: 3px;
  padding: 1px;
  float: left;
  width: 100px;
  height: 80px;
  font-size: 4em;
  text-align: center;
}

#firstInfoTable,#secondInfoTable,#thirdInfoTable,#fourInfoTable,#fifthInfoTable,#sixthInfoTable,#seventhInfoTable,#eighthInfoTable
  {
  float: left;
  margin-right: 15px;
}

.city {
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}

.mini {
  border-style: solid;
  border-width: 2px;
}
.brown {   /*border-color: */
  background-color: #955438;
}
.azure {   /*border-color: */
  background-color: #A9E1FA;
}

.lightred {   /*border-color: */
  background-color: #D83996;
}

.orange {   /*border-color: */
  background-color: orange;
}

.red {   /*border-color: */
  background-color: red;
}

.yellow {   /*border-color: */
  background-color: yellow;
}

.green {   /*border-color: */
  background-color: green;
}

.blue {   /*border-color: */
  background-color: blue;
}

.gray {   /*border-color: */
  background-color: gray;
}

#infoPlayer1,#infoPlayer2,#infoPlayer3,#infoPlayer4 {
  background: #CCE7D0;
}

.disableButton {
  opacity: 0.5;
}

.south_position_house {
  position: relative;
  left: -2px;
  top: -75px;
}

.east_position_house {
  position: relative;
  left: -25px;
  top: -13px;
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.west_position_house {
  position: relative;
  
  left: 95px;
  top: -13px;

  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.setColorPlayer1 {
  background-color: #BB7E3D;
}

.setColorPlayer2 {
  background-color: #B2B73D;
}

.setColorPlayer3 {
  background-color: #742630;
}

.setColorPlayer4 {
  background-color: #A13AB2;
}

.setDefaultColor {
  background-color: #CCE7D0;
}

.setMortageCell {
  background-color: white;
}

.visibleCell {
  border-color: #ffffff;
}

.unmortageSelected {
  border-color: #000000;
}

.setMiniImagePlayer1 {
  background: url("../img/board/miniPlayer1.png") no-repeat center center;
}

.setMiniImagePlayer2 {
  background: url("../img/board/miniPlayer2.png") no-repeat center center;
}

.setMiniImagePlayer3 {
  background: url("../img/board/miniPlayer3.png") no-repeat center center;
}

.setMiniImagePlayer4 {
  background: url("../img/board/miniPlayer4.png") no-repeat center center;
}

#table {
  float: left;
  border: 3px solid;
  margin: 20px;
  background-color: #eee;

  -moz-box-shadow:    0px 0px 10px #888;
  -webkit-box-shadow: 0px 0px 10px #888;
  box-shadow:         0px 0px 10px #888;
}