@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 700;
  src: local('CabinSketch Bold'), local('CabinSketch-Bold'), url('../font/sketch.woff') format('woff');
}
.span3.well {
	box-shadow: 0px 0px 5px black;
	font-family: 'Cabin Sketch', arial, serif;
}
#timer, #title {
	text-align: center;
}
#main {
	width: 1200px;
}

#cp {
	color : white;
	font-family: "Arial";
}


#game-container {
    width: 584px;
}

#wrapper {
	text-align: center;
	margin: 0 auto;
}

#chat-header {
	width: 520px; 
	margin: 0 auto; 
	text-align : center;
}
	#chat-header h3 {
		 background: rgba(255,255,255,0.5); 
		 border: 1px dashed; 
		 border-radius: 10px; 
	}
	#chat-header input {
		width: 400px
	}
body {
	/*background: #ccd6e1;*/
    /*background: url(http://colourlovers.com.s3.amazonaws.com/images/patterns/3171/3171465.png);*/
    /*background: url(http://colourlovers.com.s3.amazonaws.com/images/patterns/3171/3171469.png);*/
    background: url(http://colourlovers.com.s3.amazonaws.com/images/patterns/3177/3177297.png);
    /*background: url(http://colourlovers.com.s3.amazonaws.com/images/patterns/3177/3177300.png);*/
}

#game {
	/*width: 500px;*/
	/*margin: 0 auto;*/
}

	#game h1 {
		text-align: center;
		margin-bottom: 5px;
		text-shadow: 0px 1px 0px #fff;
	}

#drawing-pad {
	
	border: 10px solid #fffeff;
	background: #f1f3ef;
	box-shadow:0px 0px 5px #333;
}

#drawing-pad:hover, #drawing-pad:active, #drawing-pad:focus {
	cursor:url("../img/draw/pencil.png"), crosshair;
}

#drawing-pallete {
	font-size: 20px;
	background: rgba(222, 222, 222, 0.7); 
	width: 510px; 
	margin: 0 auto; 
	padding: 3px; 
	border: 1px dashed; 
}
	#drawing-pallete button{
		font-size: 1.em;
		cursor : pointer;
		/*display : none;*/
	}


#chat-history {
	word-wrap:break-word;
	list-style: none;
	padding: 0;
}

	#chat-history li {
		font-family: 'Neucha', Helvetica;
		font-size: 1.4em;
		border-bottom: 1px dashed rgba(20,20,20,.2);
		margin: 10px 0;
		color: #000;
	}

#stats li {
	font-family: 'Neucha', Helvetica;
	font-size: 1.4em;	
}

