@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 700;
  src: local('CabinSketch Bold'), local('CabinSketch-Bold'), url('../font/sketch.woff') format('woff');
}


#wrapper {
	text-align: center;
	width: 520px;
	margin: 0 auto;
}

#chat-header {
	margin : 10px;
	text-align : center;
}
body {
	background: #ccd6e1;
	font-family: 'Cabin Sketch', arial, serif; 
}

#game {
	width: 500px;
	margin: 0 auto;
}

#game h1 {
	text-align: center;
	margin-bottom: 5px;
	text-shadow: 0px 1px 0px #fff;
}

#drawing-pad {
	cursor:crosshair;
	border: 10px solid #fffeff;
	background: #f1f3ef;
	box-shadow:0px 3px 5px #333;
}
/*
#drawing-pad:hover {
	cursor:crosshair;
}*/

#chat-history {
	list-style: none;
	padding: 0;
}

#chat-history li {
	border-bottom: 1px dashed rgba(20,20,20,.2);
	margin: 10px 0;
}

