/* >>>>> >>>>>>>> >>>>> */
/* >>>>> @herbion >>>>> */
/* >>>>> >>>>>>>> >>>>> */
body {
  background-image: url("../img/board/bg_wood.jpg");
}
.tooltip-inner {
  font-size: 15px;
}
#ready, #start, #money .label {
  display: none;
}
.lot-image {
  border: 3px dotted #eee;
  width: 160px;
  height: 120px;
}
#cell41 {
  background-image: url("../img/board/bg_wood.jpg");
  border: 2px solid;
}
#cell1 .label {
  font-size: 65px;  
  background: green; 
  margin: 0px; 
  vertical-align: middle;
}
.dice {
    box-shadow: 1px 0px 1px #203891,0px 1px 1px #3852B1,2px 1px 1px #203891,1px 2px 1px #3852B1,3px 2px 1px #203891,2px 3px 1px #3852B1,4px 3px 1px #203891,3px 4px 1px #3852B1,5px 4px 1px #203891,4px 5px 1px #3852B1,6px 5px 1px #203891;
}
#menu {
  background: none;
  border: none;
}
#center div.tabbable {
  height: 350px;
  padding: 20px;
  /*border: 1px dashed;*/
}
.well {
  background-color: rgba(255, 255, 255, 0.7);
}
#auction-tab .row {
  text-align: left;
  margin-left: 10px;
}
#auction-tab h3 {
  text-align: left;
  display: inline-block;
  font-family: 'Yanone Kaffeesatz', 'Bubblegum sans', sans;
}
#auction-tab strong {
  font-size: 20px;
  margin-left: 10px;
}
#auction-tab small {
  font-size: 16px;
}

/*#auction-tab img {
  width: 100%;
}*/
#auction-tab .auction-controls {
  /*margin-top: 10px;*/
  margin-left: 0px;
  text-align: center;
}
#auction-tab .auction-controls button{
  background: #64C;
}
#auction-tab .auction-controls button:hover{
  background: #647;
}

#auction-tab .lot-name, #auction-tab .badge {
  font-family: 'Yanone Kaffeesatz', 'Archivo Narrow', 'Helvetica';
  font-size: 20px;
}
#auction-tab .lot-name {
  display: inline-block;
}
#auction-tab a {
  margin: 10px;
  margin-top: 10px;
}

#mini-map {
  border: 1px dashed;
}
#controls, #controls2 {
  display: inline-block;
}
#chat {
  overflow-y: scroll;
  height: 220px;
  padding: 10px;
  margin: 0;
  margin-bottom: 10px;
  border: none;
}
  ul#chat > li {
    border-bottom: 1px dashed blueviolet;
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', 'Archivo Narrow', 'Helvetica';
    margin-bottom: 7px;
  }
  ul#chat > li > .label {
    font-size: 1em;
  }
#chat-log {
  font-family: 'Bubblegum sans', 'Helvetica', 'Arial';
  text-align: left;
  background-color: rgba(255, 255, 255, 0.4);

  border: 2px solid #eee;
  padding: 5px;
/*  -moz-box-shadow:    0px 0px 10px #888;
  -webkit-box-shadow: 0px 0px 10px #888;
  box-shadow:         0px 0px 10px #888;*/
}
  #chat-log input {
    width: 485px;
    margin: 0px;
  }
  #chat-log form {
    margin-left: 10px;
    margin-bottom: 10px;
  }
/* ******************* */
/* center-cell section */
/* ******************* */
  #center {
    width: 690px;
    height: 650px;
    margin: 0 auto;
    text-align: center;
    background-image: url("../img/board/bg-info.png")
    border-radius: 5px;
    /*border: 3px #eee dashed;*/
  }
  #roll-dice {
    /*margin: 30px;*/
    text-align: center;
  }
  #button-menu {
    text-align: center;

    margin-top: 20px;
    margin-bottom: 0px;
  }
  #info {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 270px;
    /*background: #eee;*/
  }
/*    #info td:hover {
      -moz-box-shadow:    0px 0px 10px #000;
      -webkit-box-shadow: 0px 0px 10px #000;
      box-shadow:         0px 0px 10px #000;
    }*/
    #info-table-1 {
      /*width: 100px;*/
      /*height: 200px;*/
      float: left;
      margin-right: 15px;
    }
    #info-table-2 {
      /*width: 130px;*/
      /*height: 160px;*/
      float: left;
      margin-right: 15px;
    }
  #money {
    float: right;
    font-family: 'Archivo Narrow', 'Helvetica';
    margin-top: 10px;
  }

/* ****************** */
/* game-table section */
/* ****************** */
  #game-table {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    width: 1230px;
    text-align: center;

    border: 3px #000 solid;
    background-color: #eee;

    -moz-box-shadow:    0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
    box-shadow:         0px 0px 10px #000;
  }

  .owner {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .house {
    border: 1px solid;
  }
  .town-image {
    text-align: center;
  }
  /* resolution of cells */
  td.north, td.south {
    width: 75px;
  }
  .west, .east {
    height: 80px;
  }
  /* ******************* */

   /* ^^^ up cells */
  div.north  {
    height: 145px;
    position: relative;
  }
    .north .owner {
      position: absolute;
      width: 98%;
      height: 18%;
      left: 0px;
      top: 0px;
      border: 1px dashed;
    }
    .north .house {
      position: absolute;
      width: 98%; /*was 100%*/
      height: 18%;
      left: 0px;
      bottom: 0px;
    }
    .north .town-image {
      width: 90px;
      height: 90px;
      position: absolute;
      margin-top: 30px;
      margin-left: 0px;      
    }
    .north .town-image img {
      height: 90px;
      width: 90px;
    }
    .north .town-title {
      width: 90px;
      text-align: center;
      top: 0px;
    }


  /* down cells */
  div.south {
    height: 145px;
    position: relative;
  }
    .south .owner {
      position: absolute;
      width: 98%;
      height: 18%;
      left: 0px;
      bottom: 0px;
      border: 1px dashed;
    }
    .south .house {
      position: absolute;
      width: 98%; /*was 100%*/
      height: 18%;
      left: 0px;
      top: 0px;
    }
    .south .town-image {
      width: 90px;
      height: 90px;
      position: absolute;
      bottom: 30px;
      /*margin-top: 30px;*/
      /*margin-left: 6px;      */
    }
    .south .town-image img {
      height: 90px;
      width: 90px;
    }
    .south .town-title {
      width: 90px;
      text-align: center;
      bottom: 0;
    }

  /* <<< left cells */
  .west .owner {
    width: 18%;
    height: 100%;
    float: left;
    border: 1px dashed;
  }
  .west .house {
    width: 18%;
    height: 100%; 
    float: right;
  }
  .west .house img {
    position: absolute;
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 26px;
    margin-left: -23px;
  }
  .west .town-image {
    width: 100px;
    height: 74px;
    position: absolute;
    margin-top: -15px;
    margin-left: 45px;
  }
  .west .town-title {
    /*margin-left: 25px;*/
    font-size: 20px;
    position: absolute;
    text-align: center;
    z-index: 1;
  }

  /* >>> right cells */
  .east .owner {
    width: 18%;
    height: 100%;
    float: right;
    border: 1px dashed;
  }
  .east .house {
    width: 18%;
    height: 100%;
    float: left;
  }
  .east .house img {
    position: absolute;
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 26px;
    margin-left: -23px;
  }
  .east .town-image {
    width: 100px;
    height: 74px;
    position: absolute;
    margin-top: -15px;
    margin-left: 45px;
  }
  .east .town-title {
    font-size: 20px;
    position: absolute;
    text-align: center;
    z-index: 1;
  }

/*!-- ************** --*/
/*!-- [Info seciton] --*/
/*!-- ************** --*/
  /* fixed cells w*h needed to corect display images */
  #info-table-1 td, #info-table-2 td {
    width: 40px;
    height: 40px;
  }
  #money > .label {
    font-size: 20px;
  }

/* <<<<< <<<<<<<< <<<<< */
/* <<<<< @herbion <<<<< */
/* <<<<< <<<<<<<< <<<<< */

/* Corner cells */
.northwest,.northeast,.southwest,.southeast {
  width: 160px; 
  height: 145px;
}

#selectable .ui-selecting {
  background: #FECA40;
}

#firstInfoTable,#secondInfoTable
  {
  float: left;
  margin-right: 15px;
}

.city {
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
}

.mini {
  border-style: solid;
  border-width: 2px;
}
.brown {   
  background-color: #955438;
}
.azure {   
  background-color: #A9E1FA;
}

.lightred {   
  background-color: #D83996;
}

.orange {   
  background-color: orange;
}

.red {   
  background-color: red;
}

.yellow {   
  background-color: yellow;
}

.green {   
  background-color: green;
}

.blue {   
  background-color: blue;
}

.gray {   
  background-color: gray;
}

.color-player-1 {
  background-color: #BB7E3D;
}

.color-player-2 {
  background-color: #B2B73D;
}

.color-player-3 {
  background-color: #742630;
}

.color-player-4 {
  background-color: #A13AB2;
}

.setDefaultColor {
  background-color: #CCE7D0;
}

.setMortageCell {
  background-color: white;
}

.visibleCell {
  border-color: #ffffff;
  cursor: pointer;
}

.unmortageSelected {
  border-color: #000000;
  cursor: pointer;
}

.setMiniImagePlayer1 {
  background: url("../img/board/miniPlayer1.png") no-repeat center center;
}

.setMiniImagePlayer2 {
  background: url("../img/board/miniPlayer2.png") no-repeat center center;
}

.setMiniImagePlayer3 {
  background: url("../img/board/miniPlayer3.png") no-repeat center center;
}

.setMiniImagePlayer4 {
  background: url("../img/board/miniPlayer4.png") no-repeat center center;
}

#player1, #player2, #player3, #player4 {
  position: absolute;
} 

.disableButton {
  opacity: 0.5;
}

@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Two'), local('LobsterTwo'), url(../font/LobsterTwo.woff) format('woff'),
  url(http://themes.googleusercontent.com/static/fonts/lobstertwo/v4/Law3VVulBOoxyKPkrNsAaIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
/*****************************************/
/*                :font:                 */
/*****************************************/

@font-face {
  font-family: 'Bubblegum Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../font/Bubblegum Sans.woff') format('woff'), 
  url(http://themes.googleusercontent.com/static/fonts/bubblegumsans/v2/Y9iTUUNz6lbl6TrvV4iws3XDLzkeTJI1q7uv6LMmp4I.woff) format('woff');
}

@font-face {
  font-family: 'Archivo Narrow';
  font-style: normal;
  font-weight: 400;
  src: url('../font/ArchivoNarrow-Regular.woff') format('woff'),
  url(http://themes.googleusercontent.com/static/fonts/archivonarrow/v1/DsLzC9scoPnrGiwYYMQXphdbPw3QSf9R-kE0EsQUn2A.woff) format('woff');
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url('../font/YanoneKaffeesatz-Regular.woff') format('woff'), 
  url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff) format('woff');
}
