@CHARSET "UTF-8";

body{
	background: url(../img/background.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
a {
	font: 1px;
	width: 100px;
	height: 15px;
	color: #0000FF;
	text-decoration: none;
}
label {
	color: #FFFFFF;
}
table {
	color: #FFFFFF;
}
 #editAvatar{
width: 300px;
background-image: url(../img/123.jpg); 

}

 #editInf{
background-image: url(../img/123.jpg);
}
#modal1 {
	 color: #FFFFFF;
	 margin-left: 25px;
}
 #editInf{
width: 400px;
}
/* #tableInfo {
	   -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
  #tableInfo:hover {
    background-color: #000000;
    -webkit-transform: rotate(360deg) scale(2);
    -moz-transform: rotate(360deg) scale(2);
    -o-transform: rotate(360deg) scale(2);
    -ms-transform: rotate(360deg) scale(2);
    transform: rotate(360deg) scale(2);
  }
  
  #tableStat {
	   -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
  #tableStat:hover {
    background-color: #000000;
    -webkit-transform: rotate(360deg) scale(2);
    -moz-transform: rotate(360deg) scale(2);
    -o-transform: rotate(360deg) scale(2);
    -ms-transform: rotate(360deg) scale(2);
    transform: rotate(360deg) scale(2);
  } */
#chatRoom {
	width: 200px;
}
#editInformation{
	width: 200px;
	margin-top: 15px;
}
#edit {
	width: 100px;
	height: 20px;
}

#previous {
	width: 50px;
	height: 20px
}

#next {
	width: 50px;
	height: 20px;
}

#setAvatar {
	width: 50px;
	height: 20px;
}

#back {
	width: 100px;
	height: 20px;
}

#number {
	width: 50px;
	height: 20px;
}

#logout {
	width: 70px;
	height: 20px;
	float: right;
}

#avatarka {
	width: 150px;
	height: 150px;
	display: block;
    margin: 0 0 20px 0;
    background: rgba(215, 215, 215, 0.5);
    border: 1px solid #ccc;
    overflow: hidden;
}

#avatar {
	text-align: center;
    height: 150px;
    line-height: 150px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
#avatarka:hover #avatar {
    margin-top: -22px;
}
#avatarka: hover #hope {
	opacity: 1;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
}
#hope {
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0.7);
	height: 20px;
    padding: 1px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear; 
    cursor: pointer;
}


table.table3{
    font-family:Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1.7em;
    text-align:center;
    border-collapse:collapse;
}

.table3 tbody td{
    padding:10px;
}
.table3 tbody td:nth-child(even){
    background-color:#444;
    color:#444;
    border-bottom:1px solid #444;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, rgb(189,189,189)),
        color-stop(0.7, rgb(224,224,224))
        );
    background:-moz-linear-gradient(
        center bottom,
        rgb(189,189,189) 39%,
        rgb(224,224,224) 70%
        );
    text-shadow:1px 1px 1px #fff;
}
.table3 tbody td:nth-child(odd){
    background-color:#555;
    color:#f0f0f0;
    border-bottom:1px solid #444;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, rgb(85,85,85)),
        color-stop(0.7, rgb(105,105,105))
        );
    background:-moz-linear-gradient(
        center bottom,
        rgb(85,85,85) 39%,
        rgb(105,105,105) 70%
        );
    text-shadow:1px 1px 1px #000;
}
