body {
	color: red;
	font-family: fantasy;
	font-size: 14pt;
}

h2 {
	color: red;
	font-family: fantasy;
	font-size: 20pt;
}

h1 {
	color: #3A2F0B;
	font-family: fantasy;
	font-size: 20pt;
}